%h1= @user.detail

.basic_information
  %h2 Basic Informations
  = render @user.detail

.work_experiences
  %h2 Work Experience
  = render @user.work_experiences
  = link_to "Add experience", new_user_work_experience_path(@user)

#education
  %h2 Educations
  = render @user.educations
  = link_to "Add Education", new_user_education_path(@user)

#interests
  %h2 Interests
  = render 'details/interest_form'
  - if @user.interest_list.any?
    %ul
      - @user.interest_list.each do |interest|
        %li= interest
